@{
    ViewBag.Title = "Contact";
}

<h2>Income</h2>

<div class="form-group">
    <label class="col-md-6 control-label" for="pname">Project name</label>
    <div class="col-md-6">
        <input id="pname" name="pname" type="text" placeholder="" class="form-control input-md" required="">

    </div>
</div>
<!-- Select Basic -->
<div class="form-group">
    <label class="col-md-6 control-label" for="PTYPE">Project type</label>
    <div class="col-md-6">
        <select id="PTYPE" name="PTYPE" class="form-control">
            <option value="1">IT</option>
            <option value="2">Bank</option>
            <option value="3">Medcine</option>
            <option value="4">Retail</option>
        </select>
    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-6 control-label" for="DVFCZ">Organizer/Contractor</label>
    <div class="col-md-6">
        <input id="DVFCZ" name="DVFCZ" type="text" placeholder="" class="form-control input-md" required="">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-6 control-label" for="KKKO">Budjet reqiered</label>
    <div class="col-md-6">
        <input id="KKKO" name="KKKO" type="text" placeholder="" class="form-control input-md" required="">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-6 control-label" for="CCC">Amount sactioned</label>
    <div class="col-md-6">
        <input id="CCC" name="CCC" type="text" placeholder="" class="form-control input-md" required="">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-6 control-label" for="YIHK">Amount spend</label>
    <div class="col-md-6">
        <input id="YIHK" name="YIHK" type="text" placeholder="" class="form-control input-md" required="">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-6 control-label" for="BJKSS">Balance amount</label>
    <div class="col-md-6">
        <input id="BJKSS" name="BJKSS" type="text" placeholder="" class="form-control input-md" required="">

    </div>
</div>
<!-- Button (Double) -->
<div class="form-group">
    <label class="col-md-6 control-label" for="button1idFFF"></label>
    <div class="col-md-6">
        <button id="button1idFFF" name="button1idFFF" class="btn ">Add</button>
        <button id="button2id" name="button2id" class="btn ">Cancel</button>
    </div>
</div>

